DEBUG=True
ON_WEBHOOKS=False
WEBHOOK_URL=http://localhost:8000/api/webhooks/telegram


BOT__TOKEN=your_telegram_bot_token_here
BOT__WEBHOOK_SECRET_TOKEN=your_telegram_webhook_secret_token_here


ROBOKASSA__MERCHANT_LOGIN=your_robokassa_merchant_login_here
ROBOKASSA__PASSWORD_1=your_robokassa_password_1_here
ROBOKASSA__PASSWORD_2=your_robokassa_password_2_here
ROBOKASSA__IS_TEST=1


AUTHENTICATION__ACCESS_TOKEN__SECRET=your_jwt_access_token_secret_here
AUTHENTICATION__REFRESH_TOKEN__SECRET=your_jwt_refresh_token_secret_here


REDIS__HOST=redis
REDIS__PORT=6379


POSTGRES_DB=ghost_dev_db
POSTGRES_USER=ghost_dev_user
POSTGRES_PASSWORD=ghost_dev_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


CDEK__CLIENT_ID=your_cdek_client_id_here
CDEK__CLIENT_SECRET=your_cdek_client_secret_here
CDEK__BASE_URL=https://api.edu.cdek.ru/v2/
CDEK__WEBHOOK_SECRET=your_cdek_webhook_secret_here


COOKIE__MAX_AGE=3600
COOKIE__HTTPONLY=true
COOKIE__PATH=/
#COOKIE__DOMAIN=localhost
COOKIE__SECURE=false


ALLTOKENS__API_KEY=your_alltokens_api_key_here


MAILINGS__HOSTNAME=mailhog
MAILINGS__PORT=1025
MAILINGS__UST_TLS=False
MAILINGS__FROM_ADDRESS=noreply@yourdomain.com
MAILINGS__USERNAME=""
MAILINGS__PASSWORD=""


ORDER__EXPIRATION_TIME=900


FRONTEND__BASE_URL=http://localhost:5173
